@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color: aqua;
  color:red;
  height:75px;
}

.header-button{
  margin-left: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size:25px;
  padding-top: 10px;
}


.contaner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 90%;
}

.profilePic{
  margin-right: 200px;
  margin-top: 100px;
  border-radius: 50%;
  
  
}

.intro{
  margin-left: 150px;
  margin-top: 100px;
}

